@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Shalimar&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 300;
    color: #36454f;
    background-image: linear-gradient(to bottom right, rgb(194, 193, 193), rgb(102, 102, 100));;
}

/* heading and logo*/

h1, h2 {
    font-family: Shalimar, sans-serif;
    letter-spacing: 2px;
    color: #353935;
    margin-top: 15px;
}

#logo {
    width: auto;
    height: auto;
    float: left;
    font-size: 350%;
    
}

h2 {
    text-align: center;
    font-size: 250%;
}

/*navigation links*/

#menu {
    font-size: 110%;
    text-align: right;
    list-style: none;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    display: inline-block;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1.5px dotted #353935;
}

.active {
    border-bottom: 1.5px solid #353935;
}

/* carousel styling*/

.carousel-wrapper {
    height: 80vh;
    position: relative;
    width: 80vw;
    display: block;
    margin: 15px auto;
    border: 1px double black;
}

.carousel-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-previous {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('../images/Carousel-01.jpg');
    background-size: cover;
}

.item-2 {
    background: url('../images/carousel-02.jpg');
    background-size: cover;
}

.item-3 {
    background: url('../images/carousel-03.jpg');
    background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
}
#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

/*footer styling*/

footer {
    text-align: center;
    color: #353935;
    font-size: 14px;
    padding-bottom: 20px;
}

/* about page styling*/

#about-info {
    text-align: left;
    
}