@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Shalimar&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 300;
    color: #36454f;
    
}

/* heading and logo*/

h1, h2 {
    font-family: Shalimar, sans-serif;
    letter-spacing: 2px;
    color: #353935;
    margin-top: 15px;
}

#logo {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 350%;
    
}

h2 {
    text-align: center;
    font-size: 250%;
}

/*navigation links*/

#menu {
    font-size: 110%;
    text-align: center;
    list-style: none;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    display: inline-block;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1.5px dotted #353935;
}

.active {
    border-bottom: 1.5px solid #353935;
}

