@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Shalimar&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 300;
    color: #36454f;
    
}

/* heading and logo*/

h1 {
    font-family: Shalimar, sans-serif;
    letter-spacing: 2px;
    color: #353935;
}

#logo {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 280%;
}